 .ProductsCard {
     display: flex;
     box-shadow: 1px 1px 4px 1px rgb(217, 181, 250);
     flex-direction: column;
     margin: 1rem;
     padding: 1rem;
     width: 16rem;

     img {
         height: 12rem;
         width: 16rem
     }

     .Flex {
         display: flex;
         align-items: center;
         justify-content: space-between;
     }

     button {
         padding: 0.5rem 1rem;
         margin-top: 0.55rem;
         background-color: rgb(227, 205, 248);
         color: blueviolet;
         border: none;
         border-radius: 4px;
     }

     button:active {
         position: relative;
         top: 3px;

     }
     &:hover{
        position: relative;
        bottom:2px;
        right: 2px;
     }
     input{
        padding: 0.75rem 2rem;
        background-color: rgb(233, 216, 249);
        border:2px solid blueviolet;
        margin:0.25rem;
        border-radius: 4px;
        box-sizing: border-box;
     }
     .EditBtn{
        display: flex;
        justify-content: center;
        align-items: center;
     }

 }
