@import '../../../styles/partials.module';
 
.RewardsScreen {
    padding: 0rem 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
 }
 .HeadBtns{
     display: flex;
     justify-content: space-between;
     margin: 0.25rem 5rem;
    button{
        @extend %Button;
    }
    h2{
        color: $blueviolet;
    }

 }
