 .NavBar {
     display: flex;
     align-items: center;
     gap: 2rem;
     background-color: blueviolet;
     color: white;
     padding: 0.75rem 4.5rem;

     img {
         height: 2.5rem;

     }
 }