 .ProductsScreen {
    padding: 1rem 3rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
 }

 .AddBtn {
    margin: 0.25rem;
    display: flex;
    flex-direction: row-reverse;
    
    button {
       padding: 0.25rem 0.5rem;
       color: white;
       background-color: blueviolet;
       border: none;
       border-radius: 4px;
    }
 }