@import '../../../styles//modal.module.scss'; 
 
 .ProductsScreen {
    padding: 0rem 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   //  max-height: 95vh;
   //  min-height: 95vh;
   //  overflow-y: scroll;
 }

 .AddBtn {
    margin: 0.25rem 5rem;
    display: flex;
    justify-content: space-between;
    h2{
      color: blueviolet;
    }
    
    button {
       padding: 0.25rem 0.5rem;
       margin: 0.5rem 2rem;
       color: white;
       background-color: blueviolet;
       border: none;
       border-radius: 4px;
    }
 }