 @import '../../styles/modal.module.scss';
 
 .Login{
    box-shadow:1px 1px 8px 4px rgb(214, 171, 254);
    padding: 2rem;
    border-radius: 16px;

    input{
        padding: 0.5rem 4rem;
        border: none;
        border-radius: 8px;
        background-color:rgb(238, 220, 255) ;
        margin: 1rem 0;
        box-sizing: border-box;
    }
    label{
        margin-top: 1rem;

    }
    button{
        background-color: blueviolet;
        color: white;
        padding: 0.75rem 1.5rem;
        border: blueviolet;
        border-radius: 4rem;
        cursor: pointer;
    }
    button:active{
        position: relative;
        left: 1px;
        top: 1px;
    }
    h2{
        margin-bottom: 1rem;
    }
    .error{
        color: red;
        margin-bottom: 1rem ;
        display: block;

    }
 }
