 @import '../../../styles/partials.module';

 .OrdersScreen {
     padding: 0rem 3rem;
     display: flex;
     justify-content: flex-start;
     flex-wrap: wrap;


     //  max-height: 95vh;
     //  min-height: 95vh;
     //  overflow-y: scroll;
 }

 .Top {
     display: flex;
     justify-content: space-between;
     padding: 0.25rem 5rem;
     align-items: center;

     h2 {
         color: $blueviolet
     }

     button {
         @extend %Button;
         padding: 0.75rem 1.5rem;
     }
 }